
Day04_Aug14/02_csvstuff.py

Day04_Aug14/02_csvstuff.py

Day04_Aug14/04_scrape_covers.py

Day04_Aug14/05_selenium.py

Day04_Aug14/test_with_fields.csv

Day04_Aug14/writefile.txt

Day04_Aug14/test.csv

Day04_Aug14/05_selenium.py

Day04_Aug14/02_csvstuff.py

Day04_Aug14/04_scrape_covers.py
